singularity{
  enabled = true	
  runOptions = '--bind /fs1/ --bind /local/'
}

env{
  SENTIEON_LICENSE='10.139.0.101:8990'
  bwt_max_mem='50G'
}


process {
  executor='slurm'
  queue='normal'
  time=48.h
}


params {
  // GENERAL PATHS //
  refpath = '/fs1/resources/ref/hg19/'
  outdir = '/fs1/results/'

  // FASTA //
  genome_file="${refpath}/fasta/human_g1k_v37_decoy.fasta"

  tnscope_model="${refpath}/Sentieon_GiAB_HighAF_LowFP_201711.05.model"

  // BED //
  regions_bed="${refpath}/bed/myeloid-twist/all_target_segments_covered_by_probes_LundUni-Targets+Genes_NGSTECustom_0001506c_hg19.padded.bed"
  interval_list="${refpath}/bed/myeloid-twist/all_target_segments_covered_by_probes_LundUni-Targets+Genes_NGSTECustom_0001506c_hg19.padded.interval_list"

  // VEP REFERENCES AND ANNOTATION DBS //
  CADD = "${refpath}/annotation_dbs/whole_genome_SNVs_1.4.tsv.gz"
  VEP_FASTA = "${refpath}/vep/.vep/87_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa"
  MAXENTSCAN = "${refpath}/vep/.vep/Plugins/MaxEntScan_scripts"
  VEP_CACHE = "${refpath}/vep/.vep"
  GNOMAD = "${refpath}/annotation_dbs/gnomad_2.1/gnomad.exomes.r2.1.sites.vcf.gz,gnomADg,vcf,exact,0,AF_popmax,AF,popmax"
  GERP = "${refpath}/annotation_dbs/All_hg19_RS.bw,GERP,bigwig"
  PHYLOP =  "${refpath}/annotation_dbs/hg19.100way.phyloP100way.bw,phyloP100way,bigwig"
  PHASTCONS = "${refpath}/annotation_dbs/hg19.100way.phastCons.bw,phastCons,bigwig"
  
}

