singularity{
  enabled = true	
  runOptions = '--bind /fs1/ --bind /local/'
}

env{
  SENTIEON_LICENSE='10.139.0.101:8990'
  bwt_max_mem='50G'
}


process {
  executor='slurm'
  queue='high'
  time=48.h
  container='/fs1/resources/containers/twistmyeloid_active.sif'
}


params {

  // CPU counts //
  cpu_all = 50
  cpu_many = 16
  cpu_some = 8

}

profiles {
  
  hg19 {
    params.refpath = '/fs1/resources/ref/hg19/'
    // FASTA //
    params.genome_file="${params.refpath}/fasta/human_g1k_v37_decoy.fasta"
    // VEP REFERENCES AND ANNOTATION DBS //
    params.vepcon = "/fs1/resources/containers/container_VEP.sif"
    params.CADD = "${params.refpath}/annotation_dbs/whole_genome_SNVs_1.4.tsv.gz"
    params.VEP_FASTA = "${params.refpath}/vep/.vep/87_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa"
    params.MAXENTSCAN = "${params.refpath}/vep/.vep/Plugins/MaxEntScan_scripts"
    params.VEP_CACHE = "${params.refpath}/vep/.vep"
    params.GNOMAD = "${params.refpath}/annotation_dbs/gnomad_2.1/gnomad.exomes.r2.1.sites.vcf.gz,gnomADg,vcf,exact,0,AF_popmax,AF,popmax"
    params.GERP = "${params.refpath}/annotation_dbs/All_hg19_RS.bw,GERP,bigwig"
    params.PHYLOP =  "${params.refpath}/annotation_dbs/hg19.100way.phyloP100way.bw,phyloP100way,bigwig"
    params.PHASTCONS = "${params.refpath}/annotation_dbs/hg19.100way.phastCons.bw,phastCons,bigwig"
  }

  hg38 {
    params.refpath = '/fs1/resources/ref/hg38/'
    // FASTA //
    params.genome_file="${params.refpath}/fasta/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr.fna"
    params.GENOMEDICT="${params.refpath}/fasta/GCA_000001405.15_GRCh38_no_alt_analysis_set_nochr.dict"
    params.split_ref= "${params.refpath}/fasta/split/"
    // VEP REFERENCES AND ANNOTATION DBS //
    params.vepcon = "/fs1/resources/containers/ensembl-vep_latest.sif"
    params.CADD = "${params.refpath}/annotation_dbs/whole_genome_SNVs.tsv.gz"
    params.VEP_FASTA = "${params.refpath}/vep/.vep/homo_sapiens_merged/98_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"
    params.MAXENTSCAN = "${params.refpath}/vep/.vep/Plugins/MaxEntScan_scripts"
    params.VEP_CACHE = "${params.refpath}/vep/.vep"
    params.GNOMAD = "${params.refpath}/annotation_dbs/gnomad_2.1/gnomad.exomes.r2.1.sites.grch38.ALLchr.minified.sort.vcf.gz,gnomADg,vcf,exact,0,AF_popmax,AF,popmax"
    params.PHYLOP =  "${params.refpath}/annotation_dbs/hg38.phyloP100way.bw,phyloP100way,bigwig"
    params.PHASTCONS = "${params.refpath}/annotation_dbs/hg38.phastCons100way.bw,phastCons,bigwig"
  }

  myeloid {
    params.outdir = '/fs1/results/'
    params.subdir = 'myeloid'
    params.crondir = '/fs1/results/cron/'
    params.freebayes = true
    params.tnscope = true
    params.vardict = true
    params.pindel = true
    params.cnvkit = true
    params.sentieon_bwa = true
    params.umi = true
    params.melt = false
    params.manta = false
    params.varlo = false
    // BED //
    params.regions_bed="${params.refpath}/bed/myeloid-twist/all_target_segments_covered_by_probes_LundUni-Targets+Genes_NGSTECustom_0001506c_hg19.padded.bed"
    params.interval_list="${params.refpath}/bed/myeloid-twist/all_target_segments_covered_by_probes_LundUni-Targets+Genes_NGSTECustom_0001506c_hg19.padded.interval_list"
    params.pindel_regions_bed="${params.refpath}/bed/myeloid-twist/pindel_regions.bed"
    // CNVkit
    params.cnvkit_reference="${params.refpath}/cnvkit/myeloid_reference_20200204.cnn"
    // SENTIEON //
    params.tnscope_model="${params.refpath}/Sentieon_GiAB_HighAF_LowFP_201711.05.model"
    // PON //
    params.PON_freebayes = "${params.refpath}/twist_myeloid/PON_freebayes_20200228"
    params.PON_vardict = "${params.refpath}/twist_myeloid/PON_vardict_20200228"
    params.PON_tnscope = "${params.refpath}/twist_myeloid/PON_tnscope_20200228"
    // PIPELINE PARAMS //
    params.coyote_group = "myeloid_GMSv1"
    params.conform = false
    params.vcfs_path = "${params.outdir}/${params.subdir}/vcf"
    params.assay = "myeloid"
  }

  ovarian {
    params.outdir = '/fs1/results_dev/'
    params.subdir = 'ovarian'
    params.crondir = '/fs1/results_dev/cron/'
    params.freebayes = true
    params.tnscope = true
    params.vardict = true
    params.pindel = false
    params.cnvkit = true
    params.sentieon_bwa = true
    params.umi = true
    params.melt = true
    params.manta = true
    params.varlo = true
    // BED //
    params.regions_bed = "${params.refpath}/bed/twist-brca/all_target_segments_covered_by_probes_Lund-IncreasedStringency_NSGTECustom_0001481_hg38_nochr.bed"
    params.interval_list = "${params.refpath}/bed/twist-brca/all_target_segments_covered_by_probes_Lund-IncreasedStringency_NSGTECustom_0001481_hg38_nochr.intervals"
    params.bedgz = "${params.refpath}/bed/twist-brca/all_target_segments_covered_by_probes_Lund-IncreasedStringency_NSGTECustom_0001481_hg38_nochr.bed.gz"
    params.meltheader = "${params.refpath}/annotation_dbs/MELT/melt_vcf_header"
    params.bed_melt = "${params.refpath}/bed/MELT/Hg38.genes.bed"
    params.mei_list = "${params.refpath}/annotation_dbs/MELT/mei_list.txt"
    // CNVkit // PLACEHOLDER
    params.cnvkit_reference="/fs1/viktor/cnvkit/bams/reference_20200505.cnn"
    // SENTIEON // PLACEHOLDER
    params.tnscope_model="/fs1/resources/ref/hg19/Sentieon_GiAB_HighAF_LowFP_201711.05.model"
    // PON // PLACEHOLDER
    params.PON_freebayes = "/fs1/resources/ref/hg19/twist_myeloid/PON_freebayes_20200228"
    params.PON_vardict = "/fs1/resources/ref/hg19/twist_myeloid/PON_vardict_20200228"
    params.PON_tnscope = "/fs1/resources/ref/hg19/twist_myeloid/PON_tnscope_20200228"
    // PIPELINE PARAMS //
    params.coyote_group = "gmsonco"
    params.conform = false
    params.vcfs_path = "${params.outdir}/${params.subdir}/vcf"
    params.assay = "ovarian"
  }

}